<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Web Crawler</title>
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {{!-- <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
     --}}
    <link rel="stylesheet" type ="text/css" href="css/style.css" />
</head>
<body>
	{{{body}}}
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--<script type="text/javascript", src="/js/static.js"></script>-->
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/d3/d3.min.js" ></script>
    <script src="/d3/d3_tooltip.js"></script>
    <script src="/d3/client_d3.js"></script>
    <script src="/ajax/static.js" ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/client.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script>

        var yellow = d3.interpolateYlGn(0), // "rgb(255, 255, 229)"
                yellowGreen = d3.interpolateYlGn(0.5), // "rgb(120, 197, 120)"
                green = d3.interpolateYlGn(1); // "rgb(0, 69, 41)"

    </script>
</body>
</html>