


<p>Hello World</p>
<ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
</ul>
<p class="fancy-p">Evening Gown Required</p>
<p class="fancy-p" style="color:red">Tuxedo Required</p>
<span style="color:red">Bridge</span>
<span id="wide-span">Brooklyn Bridge</span>
<div class="outer-div">
    outer
    <div class="inner-div">
        inner
    </div>
</div>