    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row" >
            {{!-- spacing for now --}}
            <br> 
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

                <div class="col-lg-8 col-lg-offset-2 text-center" >
                    <h1 class="section-heading">Crawlr</h1>
                    <h4>Crawlr is a web crawler that generates interactive graphical visualizations based upon a starting URL using graph traversal algorithms.<h4>
                    <hr class="light">
                    {{!-- <p class="text-faded">WEB2: GRAPHICAL CRAWLER: Write a web page that crawls the web, following links from place to place, building a graphical model of places traveled</p> --}}
                    <div class="col-lg-2">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Crawl Type
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Depth-First Crawl</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Breadth-First Crawl</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="input-group">
                        <input type="text" class="form-control" placeholder="# Levels">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search term">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter URL...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                        </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
            </div>
        </div>
    </section>