body {
	height: 100%;
}

html {
	height: 100%;
}

section {
	height: 100%;
}

#vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.center {
    display:table-cell;
    vertical-align:middle;
    float:none;
}

.black-text {
	color: black;
}