

html, body {
	height: 100%;
	background-color: #333;
}

section {
	height: 100%;
	background-color: #333;
}

select {
	color: black;
}


.center {
    display:table-cell;
    vertical-align:middle;
    float:none;
}

.black-text {
	color: black;
}

.bg-primary {
	background-color: #333;
}

svg {
	display: block;
	margin: 0 auto;
}